1569902400,882359,
1572580800,886185,
1575176400,890258,
1577854800,894313,
1580533200,898598,
1583038800,902530,
1585713600,907262,1
1588305600,911965,2
1590984000,916901,3
1593576000,921510,4
1596254400,926217,5
1598932800,930871,6
1601524800,935664,7
1604203200,940100,8
1606798800,944463,9
1609477200,949004,10
1612155600,953980,11
1614574800,958741,12
1617249600,965995,13
1619841600,972230,14
1622520000,977962,15
1625112000,989022,16
1627790400,994259,17
