1493611200,377493,
1496289600,103069,
1498881600,76781,
1501560000,48280,
1504238400,38980,
1506830400,49617,
1509508800,30959,
1512104400,38131,
1514782800,39220,
1517461200,41797,
1519880400,44286,
1522555200,45442,
1525147200,46737,1
1527825600,47757,2
1530417600,49176,3
1533096000,50279,4
1535774400,50637,5
1538366400,52249,6
1541044800,71291,
1543640400,73161,
1546318800,74677,
1548997200,91167,
1551416400,93192,
1554091200,184440,
1556683200,188692,
1559361600,193102,
1561953600,197166,
1564632000,201350,
1567310400,205498,1
1569902400,209738,2
1572580800,213772,3
1575176400,217773,4
1577854800,221852,5
1580533200,226034,6
1583038800,229777,7
1585713600,234169,8
1588305600,238736,9
1590984000,243409,10
1593576000,247401,11
1596254400,251609,12
1598932800,255701,13
1601524800,259646,14
1604203200,263662,15
1606798800,267418,16
1609477200,271486,17
1612155600,275929,18
1614574800,279962,19
1617249600,286466,20
1619841600,291979,21
1622520000,297082,22
1625112000,306127,23
