1512104400,478826,
1514782800,481706,
1517461200,485281,
1519880400,488584,
1522555200,492393,
1525147200,496124,
1527825600,500020,1
1530417600,504173,2
1533096000,508472,3
1535774400,512620,4
1538366400,516826,5
1541044800,520918,6
1543640400,525607,7
1546318800,529344,8
1548997200,533919,9
1551416400,538441,10
1554091200,543788,11
1556683200,548521,12
1559361600,553460,13
1561953600,558114,14
1564632000,562994,15
1567310400,567786,16
1569902400,572628,17
1572580800,577430,18
1575176400,582214,19
1577854800,586994,20
1580533200,591854,21
1583038800,596251,22
1585713600,601521,23
1588305600,606737,24
1590984000,612127,25
1593576000,617114,26
1596254400,622188,27
1598932800,627126,28
1601524800,632232,29
1604203200,636955,30
1606798800,641596,31
1609477200,646386,32
1612155600,651598,33
1614574800,656550,34
1617249600,664032,35
1619841600,670454,36
1622520000,676360,37
1625112000,687898,38
