1538366400,649016,
1541044800,104302,
1543640400,106970,
1546318800,109128,
1548997200,111627,
1551416400,113986,
1554091200,84583,0
1556683200,86519,0
1559361600,88557,0
1561953600,90261,0
1564632000,92110,0
1567310400,93863,1
1569902400,95741,2
1572580800,97515,3
1575176400,99338,4
1577854800,101275,5
1580533200,103149,6
1583038800,104839,7
1585713600,112313,0
1588305600,114405,0
1590984000,116675,1
1593576000,118508,0
1596254400,120453,0
1598932800,122449,1
1601524800,124394,2
1604203200,127072,3
1606798800,130506,4
