1527825600,573052,
1530417600,576760,
1533096000,580662,
1535774400,584521,
1538366400,588445,
1541044800,592430,
1543640400,596970,1
1546318800,600528,2
1548997200,604944,3
1551416400,609358,4
1554091200,614582,5
1556683200,619397,6
1559361600,222643,0
1561953600,227509,0
1564632000,232572,0
1567310400,237532,0
1569902400,242542,0
1572580800,247423,1
1575176400,252329,2
1577854800,257242,3
1580533200,262344,4
1583038800,266967,5
1585713600,272354,6
1588305600,277818,7
1590984000,283496,8
1593576000,288436,9
1596254400,293746,10
1598932800,298776,11
1601524800,303786,12
1604203200,309368,13
1606798800,315718,14
