1569902400,883806,
1572580800,887606,
1575176400,891666,
1577854800,895711,
1580533200,899990,
1583038800,903919,
1585713600,908647,1
1588305600,913348,2
1590984000,918280,3
1593576000,922885,4
1596254400,927591,5
1598932800,932246,6
1601524800,937037,7
1604203200,941474,8
1606798800,945836,9
1609477200,950375,10
1612155600,955349,11
1614574800,960107,12
1617249600,967359,13
1619841600,973593,14
1622520000,979324,15
1625112000,990379,16
