1530417600,104941,
1533096000,101246,
1535774400,67307,
1538366400,60410,
1541044800,61426,
1543640400,60771,
1546318800,59322,0
1548997200,59145,0
1551416400,58958,0
1554091200,55041,0
1556683200,41332,0
1559361600,31029,0
1561953600,29894,0
1564632000,26125,0
1567310400,24051,0
1569902400,22538,0
1572580800,21255,0
1575176400,20607,0
1577854800,20283,0
1580533200,18816,0
1583038800,18253,0
1585713600,17907,0
1588305600,16857,0
1590984000,16605,0
1593576000,16413,0
1596254400,16135,0
1598932800,15978,0
1601524800,15741,0
1604203200,15681,0
1606798800,15552,0
