1477972800,300923,
1480568400,86802,
1483246800,88971,
1485925200,91643,
1488344400,94725,
1491019200,98009,
1493611200,101130,1
1496289600,104440,2
1498881600,107822,3
1501560000,111227,4
1504238400,114543,5
1506830400,117573,6
1509508800,121098,7
1512104400,124606,8
1514782800,128059,9
1517461200,132109,10
1519880400,135618,11
1522555200,139366,12
1525147200,143125,13
1527825600,146913,14
1530417600,150891,15
1533096000,154800,16
1535774400,160113,17
1538366400,163933,18
1541044800,167887,19
1543640400,172242,20
1546318800,175778,21
1548997200,179997,22
1551416400,184133,23
1554091200,188834,24
1556683200,193256,25
1559361600,197908,26
1561953600,201942,27
1564632000,206256,28
1567310400,210574,29
1569902400,214917,30
1572580800,219032,31
1575176400,223113,32
1577854800,227338,33
1580533200,231621,34
1583038800,235483,35
1585713600,239970,36
1588305600,244607,37
1590984000,249449,38
1593576000,253575,39
1596254400,257980,40
1598932800,262181,41
1601524800,266244,42
1604203200,270323,43
1606798800,274284,44
1609477200,278548,45
1612155600,283065,46
1614574800,287175,47
1617249600,293812,48
1619841600,299523,49
1622520000,304766,50
1625112000,314036,51
