1543640400,685917,
1546318800,689136,
1548997200,693083,
1551416400,696994,
1554091200,701754,
1556683200,706061,
1559361600,710603,1
1561953600,714923,2
1564632000,719425,3
1567310400,723904,4
1569902400,728495,5
1572580800,732992,6
1575176400,737561,7
1577854800,742144,8
1580533200,746802,9
1583038800,751023,10
1585713600,756122,11
1588305600,761159,12
1590984000,766376,13
1593576000,771206,14
1596254400,776151,15
1598932800,780964,16
1601524800,785958,17
1604203200,790571,18
1606798800,795084,19
1609477200,799742,20
1612155600,804862,21
1614574800,809733,22
1617249600,817112,23
1619841600,823452,24
1622520000,829276,25
1625112000,840625,26
