1554091200,762308,
1556683200,206976,
1559361600,211232,
1561953600,215635,
1564632000,209795,
1567310400,149464,
1569902400,144849,0
1572580800,147582,0
1575176400,130796,0
1577854800,133651,0
1580533200,130722,0
1583038800,131868,0
1585713600,123054,0
1588305600,99085,0
1590984000,52862,0
1593576000,52669,0
1596254400,43904,0
1598932800,40482,0
1601524800,37813,0
1604203200,37216,0
1606798800,35785,0
