1580533200,39914,
1583038800,34990,
1585713600,33114,
1588305600,31856,
1590984000,31876,
1593576000,29798,
1596254400,30023,0
1598932800,29633,0
1601524800,29331,0
1604203200,28166,0
1606798800,27544,0
