1572580800,908077,
1575176400,911886,
1577854800,915773,
1580533200,919925,
1583038800,923760,
1585713600,928392,
1588305600,933013,1
1590984000,937875,2
1593576000,942428,3
1596254400,947110,4
1598932800,951720,5
1601524800,956476,6
1604203200,960881,7
1606798800,965223,8
1609477200,219295,
1612155600,186488,
1614574800,189091,
1617249600,193956,
1619841600,197807,
1622520000,201293,
1625112000,165404,
1627790400,101499,
