1538366400,646714,
1541044800,650281,
1543640400,188007,
1546318800,179595,
1548997200,183930,
1551416400,188269,
1554091200,193132,0
1556683200,197818,0
1559361600,202539,1
1561953600,206721,2
1564632000,211292,3
1567310400,215831,4
1569902400,220364,5
1572580800,224634,6
1575176400,228899,7
1577854800,233141,8
1580533200,237630,9
1583038800,241709,10
1585713600,246439,11
1588305600,251330,12
1590984000,256392,13
1593576000,260791,14
1596254400,265458,15
1598932800,269950,16
1601524800,274319,17
1604203200,279494,18
1606798800,285280,19
