1546318800,710330,
1548997200,714018,
1551416400,717808,
1554091200,722486,
1556683200,726931,
1559361600,731443,
1561953600,735765,1
1564632000,740289,2
1567310400,744720,3
1569902400,749337,4
1572580800,753837,5
1575176400,758430,6
1577854800,763003,7
1580533200,767710,8
1583038800,772022,9
1585713600,777222,10
1588305600,782427,11
1590984000,787867,12
1593576000,792823,13
1596254400,797988,14
1598932800,803037,15
1601524800,808205,16
1604203200,813830,17
1606798800,820188,18
