1543640400,683354,
1546318800,686668,
1548997200,690682,
1551416400,694698,
1554091200,699527,
1556683200,704079,
1559361600,708716,1
1561953600,713121,2
1564632000,717703,3
1567310400,722196,4
1569902400,726870,5
1572580800,731433,6
1575176400,736066,7
1577854800,740679,8
1580533200,745436,9
1583038800,749782,10
1585713600,755023,11
1588305600,760246,12
1590984000,765717,13
1593576000,770694,14
1596254400,775879,15
1598932800,780936,16
1601524800,786126,17
1604203200,791780,18
1606798800,798157,19
