1543640400,680278,
1546318800,683589,
1548997200,687584,
1551416400,691549,
1554091200,696343,
1556683200,700676,
1559361600,705244,1
1561953600,709589,2
1564632000,714103,3
1567310400,718599,4
1569902400,723204,5
1572580800,727717,6
1575176400,732291,7
1577854800,736879,8
1580533200,741544,9
1583038800,745773,10
1585713600,750881,11
1588305600,755922,12
1590984000,761142,13
1593576000,765978,14
1596254400,770924,15
1598932800,775742,16
1601524800,780739,17
1604203200,785364,18
1606798800,789881,19
1609477200,794548,20
1612155600,799676,21
1614574800,804548,22
1617249600,811937,23
1619841600,818278,24
1622520000,824107,25
1625112000,835467,26
1627790400,840802,27
