1498881600,399963,
1501560000,402899,
1504238400,405986,
1506830400,408865,
1509508800,412307,
1512104400,415750,
1514782800,419237,1
1517461200,423310,2
1519880400,426920,3
1522555200,431071,4
1525147200,435064,5
1527825600,439183,6
1530417600,443528,7
1533096000,448043,8
1535774400,452342,9
1538366400,456741,10
1541044800,460964,11
1543640400,465793,12
1546318800,469640,13
1548997200,474345,14
1551416400,478966,15
1554091200,484398,16
1556683200,489233,17
1559361600,494286,18
1561953600,499004,19
1564632000,503996,20
1567310400,508860,21
1569902400,513778,22
1572580800,518617,23
1575176400,523442,24
1577854800,528276,25
1580533200,533185,26
1583038800,537626,27
1585713600,542943,28
1588305600,548208,29
1590984000,553641,30
1593576000,558680,31
1596254400,563805,32
1598932800,568770,33
1601524800,573923,34
1604203200,578676,35
1606798800,583354,36
1609477200,588183,37
1612155600,270162,
1614574800,274160,
1617249600,280508,
1619841600,285837,
1622520000,290871,
1625112000,299767,1
