1451624400,5559,
1454302800,5817,
1456808400,5950,
1459483200,6065,
1462075200,6326,
1464753600,6174,
1467345600,6257,
1470024000,6231,
1472702400,5718,
1475294400,5795,
1477972800,5676,
1480568400,4978,
1483246800,4984,
1485925200,4861,
1488344400,4629,
1491019200,4579,
1493611200,4604,
1496289600,4590,
1498881600,4717,
1501560000,4740,
1504238400,4745,
1506830400,4772,
1509508800,4592,
1512104400,4761,
1514782800,4815,
1517461200,4707,
1519880400,4327,
1522555200,4385,
1525147200,4311,
1527825600,4369,
1530417600,4448,
1533096000,4457,
1535774400,4413,
1538366400,4460,
1541044800,4718,
1543640400,4645,
1546318800,4632,
1548997200,4628,
1551416400,4631,
1554091200,4698,
1556683200,4613,
1559361600,4556,
1561953600,4577,
1564632000,4610,
1567310400,4637,
1569902400,4555,
1572580800,4515,
1575176400,4443,
1577854800,4392,
1580533200,4317,
1583038800,4315,
1585713600,4300,
1588305600,4255,
1590984000,4243,
1593576000,4227,
1596254400,4154,
1598932800,4178,
1601524800,4211,
1604203200,4211,
1606798800,4207,
1609477200,4157,
1612155600,4170,
1614574800,4179,
1617249600,4196,
1619841600,4214,
1622520000,4249,1
1625112000,4370,
