1541044800,666827,
1543640400,128546,
1546318800,131040,
1548997200,139763,
1551416400,107456,
1554091200,110127,
1556683200,112581,0
1559361600,115249,0
1561953600,117545,0
1564632000,119927,1
1567310400,122291,2
1569902400,124794,3
1572580800,127192,4
1575176400,129629,5
1577854800,132058,6
1580533200,134469,7
1583038800,136632,8
1585713600,139174,9
1588305600,141822,10
1590984000,144482,11
1593576000,146851,12
1596254400,149367,13
1598932800,151813,14
1601524800,154286,15
1604203200,157410,16
1606798800,161291,17
