1349064000,11083,
1351742400,11360,
1354338000,11703,
1357016400,12041,
1359694800,12532,
1362114000,12992,
1364788800,13691,1
1367380800,14345,2
1370059200,14962,3
1372651200,15718,4
1375329600,16469,5
1378008000,17147,6
1380600000,18037,7
1383278400,18823,8
1385874000,19761,9
1388552400,20767,10
1391230800,21917,11
1393650000,22959,12
1396324800,24296,13
1398916800,25550,14
1401595200,26975,15
1404187200,28391,16
1406865600,29767,17
1409544000,31435,18
1412136000,32990,19
1414814400,34641,20
1417410000,36297,21
1420088400,37830,22
1422766800,39699,23
1425186000,41464,24
1427860800,43333,25
1430452800,45185,26
1433131200,47349,27
1435723200,49423,28
1438401600,51938,29
1441080000,54479,30
1443672000,57160,31
1446350400,59822,32
1448946000,62638,33
1451624400,65707,34
1454302800,68680,35
1456808400,71684,36
1459483200,75228,37
1462075200,78531,38
1464753600,81805,39
1467345600,84685,40
1470024000,87916,41
1472702400,91260,42
1475294400,94500,43
1477972800,97887,44
1480568400,100992,45
1483246800,104254,46
1485925200,107350,47
1488344400,110910,48
1491019200,114780,49
1493611200,118526,50
1496289600,122352,51
1498881600,126571,52
1501560000,130732,53
1504238400,134737,54
1506830400,138361,55
1509508800,142835,56
1512104400,146978,57
1514782800,151167,58
1517461200,155996,59
1519880400,160103,60
1522555200,164760,61
1525147200,169264,62
1527825600,173864,63
1530417600,178657,64
1533096000,183735,65
1535774400,188509,66
1538366400,193216,67
1541044800,197861,68
1543640400,203099,69
1546318800,207263,70
1548997200,212249,71
1551416400,217211,72
1554091200,222930,73
1556683200,228187,74
1559361600,233527,75
1561953600,238464,76
1564632000,243706,77
1567310400,248785,78
1569902400,253932,79
1572580800,258960,80
1575176400,264005,81
1577854800,269016,82
1580533200,274167,83
1583038800,278837,84
1585713600,284415,85
1588305600,290000,86
1590984000,295803,87
1593576000,301121,88
1596254400,306614,89
1598932800,311947,90
1601524800,317417,91
1604203200,323314,92
1606798800,329941,93
