1346472000,9560,
1349064000,9826,
1351742400,10155,
1354338000,10519,
1357016400,10877,
1359694800,11380,
1362114000,11852,1
1364788800,12563,2
1367380800,13231,3
1370059200,13857,4
1372651200,14626,5
1375329600,15387,6
1378008000,16074,7
1380600000,16973,8
1383278400,17766,9
1385874000,18712,10
1388552400,19724,11
1391230800,20874,12
1393650000,21929,13
1396324800,23276,14
1398916800,24538,15
1401595200,25966,16
1404187200,27387,17
1406865600,28768,18
1409544000,30441,19
1412136000,31999,20
1414814400,33653,21
1417410000,35311,22
1420088400,36845,23
1422766800,38717,24
1425186000,40487,25
1427860800,42360,26
1430452800,44214,27
1433131200,46377,28
1435723200,48455,29
1438401600,50974,30
1441080000,53517,31
1443672000,56202,32
1446350400,58870,33
1448946000,61690,34
1451624400,64761,35
1454302800,67737,36
1456808400,70744,37
1459483200,74289,38
1462075200,77596,39
1464753600,80869,40
1467345600,83751,41
1470024000,86983,42
1472702400,90328,43
1475294400,93569,44
1477972800,96961,45
1480568400,100066,46
1483246800,103329,47
1485925200,106428,48
1488344400,109990,49
1491019200,113860,50
1493611200,117605,51
1496289600,121433,52
1498881600,125651,53
1501560000,129814,54
1504238400,133820,55
1506830400,137445,56
1509508800,141920,57
1512104400,146063,58
1514782800,150254,59
1517461200,155083,60
1519880400,159189,61
1522555200,163847,62
1525147200,168352,63
1527825600,172954,64
1530417600,177749,65
1533096000,182829,66
1535774400,187605,67
1538366400,192315,68
1541044800,196961,69
1543640400,202200,70
1546318800,206365,71
1548997200,211352,72
1551416400,216313,73
1554091200,222032,74
1556683200,227290,75
1559361600,232630,76
1561953600,237567,77
1564632000,242808,78
1567310400,247887,79
1569902400,253035,80
1572580800,258063,81
1575176400,263108,82
1577854800,268121,83
1580533200,273273,84
1583038800,277943,85
1585713600,283521,86
1588305600,289106,87
1590984000,294909,88
1593576000,300227,89
1596254400,305719,90
1598932800,311052,91
1601524800,316523,92
1604203200,322416,93
1606798800,329043,94
