1496289600,56070,
1498881600,57694,
1501560000,59380,
1504238400,60979,
1506830400,62447,
1509508800,64233,
1512104400,65910,1
1514782800,67573,2
1517461200,69488,3
1519880400,71225,4
1522555200,73097,5
1525147200,75093,6
1527825600,76987,7
1530417600,78815,8
1533096000,80707,9
1535774400,88896,
1538366400,90891,
1541044800,92839,
1543640400,95289,
1546318800,97217,
1548997200,99417,1
1551416400,101524,2
1554091200,103981,3
1556683200,106171,4
1559361600,108618,5
1561953600,110687,6
1564632000,112838,7
1567310400,115016,8
1569902400,117394,9
1572580800,119625,10
1575176400,121787,11
1577854800,123997,12
1580533200,126266,13
1583038800,128149,14
1585713600,130377,15
1588305600,132675,16
1590984000,135217,17
1593576000,137325,18
1596254400,139614,19
1598932800,141765,20
1601524800,143927,21
1604203200,145959,22
1606798800,147937,23
1609477200,150103,24
1612155600,152411,25
1614574800,154619,26
1617249600,158903,27
1619841600,162218,28
1622520000,165104,29
1625112000,170088,30
1627790400,172738,31
