1401595200,61183,
1404187200,62223,
1406865600,63313,
1409544000,64638,
1412136000,65940,
1414814400,67374,
1417410000,68828,1
1420088400,70206,2
1422766800,71889,3
1425186000,73487,4
1427860800,75194,5
1430452800,76934,6
1433131200,78953,7
1435723200,80910,8
1438401600,83280,9
1441080000,85716,10
1443672000,88272,11
1446350400,90805,12
1448946000,55809,0
1451624400,27216,0
1454302800,28338,0
1456808400,29560,0
1459483200,30841,0
1462075200,32144,0
1464753600,33409,1
1467345600,34529,2
1470024000,33140,0
1472702400,34312,0
1475294400,35333,0
1477972800,36470,0
1480568400,37561,0
1483246800,38173,1
1485925200,40260,2
1488344400,41544,3
1491019200,43048,4
1493611200,44373,5
1496289600,45682,6
1498881600,47180,7
1501560000,48606,8
1504238400,50025,9
1506830400,51286,10
1509508800,52806,11
1512104400,54200,12
1514782800,55673,13
1517461200,57308,14
1519880400,58785,15
1522555200,60435,16
1525147200,62092,17
1527825600,63778,18
1530417600,65317,19
1533096000,66904,20
1535774400,75065,0
1538366400,76821,0
1541044800,78622,0
1543640400,80639,0
1546318800,82362,0
1548997200,84216,1
1551416400,86159,2
1554091200,88325,3
1556683200,90285,4
1559361600,92478,5
1561953600,94222,6
1564632000,96175,7
1567310400,97992,8
1569902400,99949,9
1572580800,101857,10
1575176400,103785,11
1577854800,105830,12
1580533200,107756,13
1583038800,109541,14
1585713600,111566,15
1588305600,113632,16
1590984000,115874,17
1593576000,117686,18
1596254400,119644,19
1598932800,121614,20
1601524800,123555,21
1604203200,126236,22
1606798800,129675,23
