1522555200,545103,
1525147200,548308,
1527825600,551823,
1530417600,555708,
1533096000,559730,
1535774400,563666,
1538366400,567638,1
1541044800,571559,2
1543640400,576143,3
1546318800,579754,4
1548997200,584184,5
1551416400,588580,6
1554091200,593811,7
1556683200,598462,8
1559361600,603317,9
1561953600,607904,10
1564632000,612678,11
1567310400,617398,12
1569902400,622184,13
1572580800,626913,14
1575176400,631639,15
1577854800,636366,16
1580533200,641179,17
1583038800,645526,18
1585713600,650751,19
1588305600,655945,20
1590984000,661310,21
1593576000,666258,22
1596254400,671295,23
1598932800,676188,24
1601524800,681257,25
1604203200,685959,26
1606798800,690565,27
1609477200,695326,28
1612155600,700516,29
1614574800,705438,30
1617249600,712884,31
1619841600,719287,32
1622520000,725170,33
1625112000,736664,34
