1519880400,525250,
1522555200,528726,
1525147200,532264,
1527825600,535991,
1530417600,540038,
1533096000,544229,
1535774400,548285,1
1538366400,552392,2
1541044800,556424,3
1543640400,561101,4
1546318800,564757,5
1548997200,569270,6
1551416400,573779,7
1554091200,579086,8
1556683200,583982,9
1559361600,588935,10
1561953600,593617,11
1564632000,598499,12
1567310400,603251,13
1569902400,608137,14
1572580800,612929,15
1575176400,617749,16
1577854800,622522,17
1580533200,627445,18
1583038800,631930,19
1585713600,637314,20
1588305600,642699,21
1590984000,648317,22
1593576000,653427,23
1596254400,658717,24
1598932800,663868,25
1601524800,669147,26
1604203200,674882,27
1606798800,681357,28
