1546318800,70995,
1548997200,72522,
1551416400,74114,
1554091200,75835,
1556683200,77488,
1559361600,79238,
1561953600,80691,1
1564632000,82282,2
1567310400,83737,3
1569902400,85318,4
1572580800,86809,5
1575176400,88391,6
1577854800,90047,7
1580533200,91542,8
1583038800,93044,9
1585713600,94675,10
1588305600,96293,11
1590984000,98224,12
1593576000,99745,13
1596254400,101285,14
1598932800,102887,15
1601524800,104463,16
1604203200,106471,17
1606798800,108895,18
