1541044800,674742,
1543640400,678535,
1546318800,681906,
1548997200,685949,
1551416400,689996,
1554091200,694862,
1556683200,699430,1
1559361600,704099,2
1561953600,708524,3
1564632000,713120,4
1567310400,717635,5
1569902400,722317,6
1572580800,726889,7
1575176400,731534,8
1577854800,736154,9
1580533200,740916,10
1583038800,745268,11
1585713600,750513,12
1588305600,755745,13
1590984000,761224,14
1593576000,766207,15
1596254400,771396,16
1598932800,776458,17
1601524800,781653,18
1604203200,787311,19
1606798800,793686,20
