1541044800,671723,
1543640400,675489,
1546318800,678855,
1548997200,682880,
1551416400,686876,
1554091200,691705,
1556683200,696053,1
1559361600,700650,2
1561953600,705015,3
1564632000,709543,4
1567310400,714062,5
1569902400,718674,6
1572580800,723196,7
1575176400,727782,8
1577854800,732376,9
1580533200,737046,10
1583038800,741281,11
1585713600,746394,12
1588305600,751444,13
1590984000,756673,14
1593576000,761515,15
1596254400,766466,16
1598932800,771289,17
1601524800,776291,18
1604203200,780920,19
1606798800,785435,20
1609477200,790104,21
1612155600,795239,22
1614574800,800115,23
1617249600,807509,24
1619841600,813856,25
1622520000,819688,26
1625112000,831049,27
