1451624400,164968,
1454302800,167398,
1456808400,169939,
1459483200,33117,
1462075200,34564,
1464753600,35867,
1467345600,37078,
1470024000,38401,
1472702400,39730,1
1475294400,40925,2
1477972800,42319,3
1480568400,63108,
1483246800,44964,
1485925200,46264,
1488344400,47724,
1491019200,49378,
1493611200,43300,
1496289600,44635,
1498881600,46031,
1501560000,47422,
1504238400,48800,
1506830400,50050,1
1509508800,51501,2
1512104400,52854,3
1514782800,54264,4
1517461200,55867,5
1519880400,57238,6
1522555200,58842,7
1525147200,60457,8
1527825600,62128,9
1530417600,63630,10
1533096000,65114,11
1535774400,73572,
1538366400,73233,
1541044800,74046,
1543640400,75953,
1546318800,77529,
1548997200,79374,
1551416400,81158,1
1554091200,83450,2
1556683200,84817,3
1559361600,90397,
1561953600,92121,1
1564632000,93973,2
1567310400,95768,3
1569902400,97665,
1572580800,99503,1
1575176400,101351,2
1577854800,103326,3
1580533200,105148,4
1583038800,106870,5
1585713600,108744,6
1588305600,110704,7
1590984000,112825,8
1593576000,114592,9
1596254400,116398,10
1598932800,118287,11
1601524800,120107,12
1604203200,121806,13
1606798800,123463,14
1609477200,125250,15
1612155600,127220,16
1614574800,129055,17
1617249600,132879,18
1619841600,135845,19
1622520000,138345,20
1625112000,142646,21
1627790400,144989,22
