1477972800,298352,
1480568400,300352,
1483246800,302738,
1485925200,305213,
1488344400,308129,
1491019200,311342,
1493611200,314525,1
1496289600,317745,2
1498881600,321444,3
1501560000,325062,4
1504238400,328619,5
1506830400,331825,6
1509508800,335722,7
1512104400,339474,8
1514782800,343247,9
1517461200,347674,10
1519880400,351498,11
1522555200,355901,12
1525147200,360100,13
1527825600,364411,14
1530417600,368926,15
1533096000,373642,16
1535774400,378130,17
1538366400,382642,18
1541044800,386995,19
1543640400,391987,20
1546318800,396001,21
1548997200,400820,22
1551416400,405565,23
1554091200,411094,24
1556683200,416034,25
1559361600,421183,26
1561953600,425946,27
1564632000,431018,28
1567310400,435957,29
1569902400,440938,30
1572580800,445841,31
1575176400,450729,32
1577854800,455621,33
1580533200,460589,34
1583038800,465080,35
1585713600,470455,36
1588305600,475777,37
1590984000,481253,38
1593576000,486340,39
1596254400,491518,40
1598932800,496522,41
1601524800,501717,42
1604203200,506515,43
1606798800,511224,44
1609477200,516082,45
1612155600,521333,46
1614574800,526344,47
1617249600,533874,48
1619841600,540349,49
1622520000,546300,50
1625112000,557951,51
1627790400,563409,52
