1472702400,271389,
1475294400,273676,
1477972800,276200,
1480568400,278591,
1483246800,281204,
1485925200,283840,
1488344400,286896,1
1491019200,290232,2
1493611200,293526,3
1496289600,296855,4
1498881600,300636,5
1501560000,304349,6
1504238400,307957,7
1506830400,311244,8
1509508800,315199,9
1512104400,319001,10
1514782800,322832,11
1517461200,327328,12
1519880400,331194,13
1522555200,335639,14
1525147200,339891,15
1527825600,344248,16
1530417600,348786,17
1533096000,353555,18
1535774400,358072,19
1538366400,362613,20
1541044800,366993,21
1543640400,372027,22
1546318800,376058,23
1548997200,380899,24
1551416400,385663,25
1554091200,391209,26
1556683200,396160,27
1559361600,401325,28
1561953600,406095,29
1564632000,411175,30
1567310400,416136,31
1569902400,421129,32
1572580800,426049,33
1575176400,430948,34
1577854800,435845,35
1580533200,440823,36
1583038800,445319,37
1585713600,450703,38
1588305600,456037,39
1590984000,461525,40
1593576000,466624,41
1596254400,471813,42
1598932800,476834,43
1601524800,482036,44
1604203200,486840,45
1606798800,491561,46
1609477200,496429,47
1612155600,501691,48
1614574800,506702,49
1617249600,514240,50
1619841600,520728,51
1622520000,526684,52
1625112000,538347,53
1627790400,543811,54
