1514782800,127526,
1517461200,131578,
1519880400,493509,
1522555200,497299,
1525147200,500995,
1527825600,504859,
1530417600,508997,
1533096000,513280,1
1535774400,517408,2
1538366400,521600,3
1541044800,525673,4
1543640400,530347,5
1546318800,534065,6
1548997200,538631,7
1551416400,543133,8
1554091200,548464,9
1556683200,553192,10
1559361600,558122,11
1561953600,562774,12
1564632000,567643,13
1567310400,572430,14
1569902400,577271,15
1572580800,582067,16
1575176400,586843,17
1577854800,591616,18
1580533200,596475,19
1583038800,600871,20
1585713600,606135,21
1588305600,611349,22
1590984000,616735,23
1593576000,621718,24
1596254400,626789,25
1598932800,631726,26
1601524800,636835,27
1604203200,641556,28
1606798800,646189,29
1609477200,650979,30
1612155600,656189,31
1614574800,661140,32
1617249600,668615,33
1619841600,675034,34
1622520000,680937,35
1625112000,692475,36
1627790400,697879,37
