1514782800,127530,
1517461200,131582,
1519880400,493542,
1522555200,497332,
1525147200,501028,
1527825600,504890,
1530417600,509030,
1533096000,513313,1
1535774400,517441,2
1538366400,521633,3
1541044800,525707,4
1543640400,530384,5
1546318800,534102,6
1548997200,538668,7
1551416400,543170,8
1554091200,548501,9
1556683200,553229,10
1559361600,558159,11
1561953600,562811,12
1564632000,567680,13
1567310400,572467,14
1569902400,577307,15
1572580800,582103,16
1575176400,586879,17
1577854800,591652,18
1580533200,596511,19
1583038800,600907,20
1585713600,606171,21
1588305600,611385,22
1590984000,616771,23
1593576000,621754,24
1596254400,626825,25
1598932800,631762,26
1601524800,636871,27
1604203200,641592,28
1606798800,646225,29
1609477200,651015,30
1612155600,656225,31
1614574800,661176,32
1617249600,668651,33
1619841600,675070,34
1622520000,680973,35
1625112000,692511,36
1627790400,697915,37
