1554091200,180364,
1556683200,184663,
1559361600,168530,
1561953600,193030,
1564632000,197068,
1567310400,189808,
1569902400,193629,0
1572580800,164147,0
1575176400,173100,0
1577854800,176337,0
1580533200,179513,0
1583038800,182425,0
1585713600,185875,0
1588305600,189514,1
1590984000,193079,2
1593576000,196206,3
1596254400,199553,4
1598932800,202892,5
1601524800,206047,6
1604203200,209907,7
1606798800,214591,8
