1512104400,479877,
1514782800,482719,
1517461200,486282,
1519880400,489577,
1522555200,493385,
1525147200,497109,
1527825600,500998,1
1530417600,505153,2
1533096000,509446,3
1535774400,513590,4
1538366400,517794,5
1541044800,521883,6
1543640400,526564,7
1546318800,530292,8
1548997200,534864,9
1551416400,539381,10
1554091200,544728,11
1556683200,549461,12
1559361600,554399,13
1561953600,559052,14
1564632000,563926,15
1567310400,568715,16
1569902400,573557,17
1572580800,578357,18
1575176400,583141,19
1577854800,587920,20
1580533200,592780,21
1583038800,597177,22
1585713600,602447,23
1588305600,607661,24
1590984000,613049,25
1593576000,618035,26
1596254400,623108,27
1598932800,628046,28
1601524800,633152,29
1604203200,637874,30
1606798800,642510,31
1609477200,647300,32
1612155600,652511,33
1614574800,657463,34
1617249600,664945,35
1619841600,671366,36
1622520000,677270,37
1625112000,688806,38
1627790400,694216,39
