1506830400,444270,
1509508800,447313,
1512104400,450461,
1514782800,70066,
1517461200,72153,
1519880400,74007,
1522555200,76255,
1525147200,78320,
1527825600,80383,1
1530417600,82454,2
1533096000,84454,3
1535774400,91592,
1538366400,93719,
1541044800,95772,1
1543640400,98305,2
1546318800,100345,
1548997200,102697,1
1551416400,104938,2
1554091200,107545,3
1556683200,109831,4
1559361600,112418,5
1561953600,114604,6
1564632000,116931,7
1567310400,119162,8
1569902400,121620,9
1572580800,123982,10
1575176400,126260,11
1577854800,128606,12
1580533200,130943,13
1583038800,132963,14
1585713600,119471,
1588305600,121968,
1590984000,124830,
1593576000,126758,
1596254400,128794,
1598932800,130827,1
1601524800,132798,2
1604203200,134999,3
1606798800,136878,4
1609477200,139452,5
1612155600,141658,6
1614574800,143719,7
1617249600,147838,8
1619841600,150999,9
1622520000,153681,10
1625112000,158355,11
1627790400,160075,12
