1496289600,56058,
1498881600,57688,
1501560000,59373,
1504238400,60972,
1506830400,62439,
1509508800,64226,
1512104400,65904,1
1514782800,67567,2
1517461200,69482,3
1519880400,71219,4
1522555200,73091,5
1525147200,75087,6
1527825600,76981,7
1530417600,78810,8
1533096000,80702,9
1535774400,88891,
1538366400,90886,
1541044800,92834,
1543640400,95284,
1546318800,97212,
1548997200,99412,1
1551416400,101519,2
1554091200,103976,3
1556683200,106165,4
1559361600,108612,5
1561953600,110681,6
1564632000,112832,7
1567310400,115010,8
1569902400,117388,9
1572580800,119620,10
1575176400,121782,11
1577854800,123992,12
1580533200,126261,13
1583038800,128144,14
1585713600,130372,15
1588305600,132670,16
1590984000,135212,17
1593576000,137320,18
1596254400,139609,19
1598932800,141760,20
1601524800,143922,21
1604203200,145954,22
1606798800,147932,23
1609477200,150098,24
1612155600,152406,25
1614574800,154614,26
1617249600,158898,27
1619841600,162213,28
1622520000,165099,29
1625112000,170083,30
1627790400,172733,31
