1485925200,331496,
1488344400,334097,
1491019200,337093,
1493611200,340086,
1496289600,343189,
1498881600,346766,
1501560000,350281,1
1504238400,353746,2
1506830400,356910,3
1509508800,360747,4
1512104400,364470,5
1514782800,368228,6
1517461200,100008,0
1519880400,102505,0
1522555200,105258,0
1525147200,108041,0
1527825600,110774,0
1530417600,113583,1
1533096000,116350,2
1535774400,123720,3
1538366400,126607,4
1541044800,129620,5
1543640400,132958,6
1546318800,135609,7
1548997200,138756,8
1551416400,141835,9
1554091200,145351,10
1556683200,148651,11
1559361600,152012,12
1561953600,155159,13
1564632000,158337,14
1567310400,161459,15
1569902400,164761,16
1572580800,167926,17
1575176400,170921,18
1577854800,174086,19
1580533200,177221,20
1583038800,180100,21
1585713600,183471,22
1588305600,187046,23
1590984000,190579,24
1593576000,193632,25
1596254400,196889,26
1598932800,200143,27
1601524800,203250,28
1604203200,207041,29
1606798800,211674,30
