1583038800,991902,
1585713600,995947,
1588305600,1000345,
1590984000,1005145,
1593576000,1009653,
1596254400,1014353,
1598932800,1019045,1
1601524800,1023830,2
1604203200,1029122,3
1606798800,1035193,4
