1472702400,270552,
1475294400,272853,
1477972800,275386,
1480568400,277778,
1483246800,280397,
1485925200,283035,
1488344400,286095,1
1491019200,289428,2
1493611200,292725,3
1496289600,296053,4
1498881600,299834,5
1501560000,303551,6
1504238400,307160,7
1506830400,310448,8
1509508800,314405,9
1512104400,318213,10
1514782800,322045,11
1517461200,326543,12
1519880400,330409,13
1522555200,334855,14
1525147200,339107,15
1527825600,156004,
1530417600,167229,
1533096000,171742,
1535774400,177177,
1538366400,181755,
1541044800,186161,1
1543640400,191106,2
1546318800,195064,3
1548997200,199899,4
1551416400,204608,5
1554091200,210047,6
1556683200,215043,7
1559361600,220129,8
1561953600,224950,9
1564632000,229911,10
1567310400,234782,11
1569902400,239723,12
1572580800,244474,13
1575176400,249276,14
1577854800,254161,15
1580533200,259072,16
1583038800,263515,17
1585713600,268663,18
1588305600,273957,19
1590984000,279414,20
1593576000,284218,21
1596254400,289276,22
1598932800,294054,23
1601524800,298780,24
1604203200,303284,25
1606798800,307799,26
1609477200,312602,27
1612155600,317827,28
1614574800,322758,29
1617249600,330032,30
1619841600,336454,31
1622520000,342282,32
1625112000,352861,33
1627790400,358182,34
