1527825600,54041,
1530417600,55189,
1533096000,33087,
1535774400,58372,
1538366400,59711,
1541044800,32549,
1543640400,33304,0
1546318800,34030,0
1548997200,34794,0
1551416400,35586,0
1554091200,36433,1
1556683200,37339,2
1559361600,38202,3
1561953600,38909,4
1564632000,39776,5
1567310400,40534,6
1569902400,41332,7
1572580800,42076,8
1575176400,42957,9
1577854800,43769,10
1580533200,44542,11
1583038800,45190,12
1585713600,46031,13
1588305600,46893,14
1590984000,47845,15
1593576000,48580,16
1596254400,49401,17
1598932800,50170,18
1601524800,50971,19
1604203200,52299,20
1606798800,54052,21
