1546318800,713255,
1548997200,716889,
1551416400,720660,
1554091200,725316,
1556683200,729749,
1559361600,734251,
1561953600,738564,1
1564632000,743077,2
1567310400,747501,3
1569902400,752116,4
1572580800,756614,5
1575176400,761203,6
1577854800,765769,7
1580533200,770474,8
1583038800,774785,9
1585713600,779980,10
1588305600,785180,11
1590984000,790617,12
1593576000,795567,13
1596254400,800727,14
1598932800,805772,15
1601524800,810938,16
1604203200,816558,17
1606798800,822912,18
