1472702400,51499,
1475294400,53017,
1477972800,54782,
1480568400,56453,
1483246800,49407,
1485925200,51091,
1488344400,52705,
1491019200,53178,
1493611200,50959,
1496289600,52512,
1498881600,54119,
1501560000,59922,
1504238400,55775,
1506830400,57240,
1509508800,58854,
1512104400,59430,
1514782800,61063,
1517461200,61157,1
1519880400,62690,2
1522555200,64423,3
1525147200,66163,4
1527825600,67374,5
1530417600,68994,6
1533096000,70674,7
1535774400,79035,
1538366400,75389,
1541044800,76201,
1543640400,74097,
1546318800,75639,
1548997200,77422,
1551416400,79208,
1554091200,82131,
1556683200,83541,1
1559361600,84251,2
1561953600,85880,3
1564632000,87575,4
1567310400,89464,5
1569902400,91017,6
1572580800,87838,
1575176400,89477,
1577854800,91181,
1580533200,92771,
1583038800,94263,
1585713600,95976,1
1588305600,97723,2
1590984000,99607,3
1593576000,101197,4
1596254400,102789,5
1598932800,104436,6
1601524800,106062,7
1604203200,107541,8
1606798800,108993,9
1609477200,110569,10
1612155600,112302,11
1614574800,113887,12
1617249600,117432,13
1619841600,120091,14
1622520000,122254,15
1625112000,126135,16
1627790400,128146,17
