1475294400,280261,
1477972800,282686,
1480568400,77657,
1483246800,287576,
1485925200,290178,
1488344400,293202,
1491019200,296508,
1493611200,299774,
1496289600,303072,1
1498881600,306836,2
1501560000,310527,3
1504238400,314121,4
1506830400,317383,5
1509508800,321320,6
1512104400,325110,7
1514782800,328921,8
1517461200,333402,9
1519880400,337265,10
1522555200,341701,11
1525147200,345940,12
1527825600,350280,13
1530417600,354810,14
1533096000,359573,15
1535774400,364082,16
1538366400,368614,17
1541044800,372984,18
1543640400,378003,19
1546318800,382032,20
1548997200,386863,21
1551416400,391623,22
1554091200,397168,23
1556683200,402119,24
1559361600,407281,25
1561953600,412050,26
1564632000,417126,27
1567310400,422085,28
1569902400,427076,29
1572580800,431986,30
1575176400,436880,31
1577854800,441775,32
1580533200,446752,33
1583038800,451248,34
1585713600,456635,35
1588305600,461965,36
1590984000,467452,37
1593576000,472549,38
1596254400,477731,39
1598932800,482749,40
1601524800,487948,41
1604203200,492751,42
1606798800,497468,43
1609477200,502332,44
1612155600,507591,45
1614574800,512606,46
1617249600,520144,47
1619841600,526630,48
1622520000,532585,49
1625112000,544247,50
