1496289600,385054,
1498881600,388125,
1501560000,391244,
1504238400,394441,
1506830400,397388,
1509508800,400941,
1512104400,404437,1
1514782800,407970,2
1517461200,412078,3
1519880400,415733,4
1522555200,419942,5
1525147200,423973,6
1527825600,428125,7
1530417600,432507,8
1533096000,437042,9
1535774400,441367,10
1538366400,445782,11
1541044800,450023,12
1543640400,454888,13
1546318800,458757,14
1548997200,463488,15
1551416400,468133,16
1554091200,473577,17
1556683200,478437,18
1559361600,483504,19
1561953600,488228,20
1564632000,493227,21
1567310400,498096,22
1569902400,503027,23
1572580800,507879,24
1575176400,512715,25
1577854800,517562,26
1580533200,522485,27
1583038800,526937,28
1585713600,532263,29
1588305600,537539,30
1590984000,542975,31
1593576000,548024,32
1596254400,553161,33
1598932800,558138,34
1601524800,563293,35
1604203200,568057,36
1606798800,572740,37
1609477200,577572,38
1612155600,582811,39
1614574800,587795,40
1617249600,595307,41
1619841600,601750,42
1622520000,607690,43
1625112000,619288,44
1627790400,624723,45
