1522555200,546712,
1525147200,549962,
1527825600,553519,
1530417600,557445,
1533096000,561516,
1535774400,565495,
1538366400,569501,1
1541044800,573492,2
1543640400,578114,3
1546318800,581734,4
1548997200,586198,5
1551416400,590648,6
1554091200,595917,7
1556683200,600785,8
1559361600,605708,9
1561953600,610369,10
1564632000,615213,11
1567310400,619939,12
1569902400,624803,13
1572580800,629571,14
1575176400,634359,15
1577854800,639116,16
1580533200,644021,17
1583038800,648490,18
1585713600,653853,19
1588305600,659231,20
1590984000,664849,21
1593576000,669936,22
1596254400,675210,23
1598932800,680348,24
1601524800,685618,25
1604203200,691348,26
1606798800,697811,27
