1467345600,249208,
1470024000,251576,
1472702400,254059,
1475294400,256571,
1477972800,259318,
1480568400,261828,
1483246800,264564,1
1485925200,267287,2
1488344400,270396,3
1491019200,273803,4
1493611200,277170,5
1496289600,280575,6
1498881600,284405,7
1501560000,288181,8
1504238400,291831,9
1506830400,295149,10
1509508800,299156,11
1512104400,302986,12
1514782800,306858,13
1517461200,311394,14
1519880400,315281,15
1522555200,319751,16
1525147200,324046,17
1527825600,328442,18
1530417600,333009,19
1533096000,337801,20
1535774400,342352,21
1538366400,346911,22
1541044800,351312,23
1543640400,356372,24
1546318800,360418,25
1548997200,365271,26
1551416400,370082,27
1554091200,375647,28
1556683200,380618,29
1559361600,385795,30
1561953600,390579,31
1564632000,395669,32
1567310400,400647,33
1569902400,405646,34
1572580800,410577,35
1575176400,415485,36
1577854800,420398,37
1580533200,425385,38
1583038800,429886,39
1585713600,435277,40
1588305600,440628,41
1590984000,446115,42
1593576000,451225,43
1596254400,456425,44
1598932800,461454,45
1601524800,466662,46
1604203200,471468,47
1606798800,476192,48
1609477200,481071,49
1612155600,486337,50
1614574800,491351,51
1617249600,498889,52
1619841600,505380,53
1622520000,511342,54
1625112000,523020,55
1627790400,528489,56
