1498881600,407168,
1501560000,409877,
1504238400,412880,
1506830400,415679,
1509508800,419075,
1512104400,422463,
1514782800,425927,1
1517461200,429968,2
1519880400,433555,3
1522555200,437684,4
1525147200,441652,5
1527825600,445752,6
1530417600,450075,7
1533096000,454572,8
1535774400,458855,9
1538366400,463247,10
1541044800,467454,11
1543640400,472269,12
1546318800,476107,13
1548997200,480795,14
1551416400,485412,15
1554091200,490836,16
1556683200,495655,17
1559361600,500698,18
1561953600,505404,19
1564632000,510397,20
1567310400,515255,21
1569902400,520158,22
1572580800,524991,23
1575176400,529810,24
1577854800,534639,25
1580533200,539555,26
1583038800,543990,27
1585713600,549302,28
1588305600,554565,29
1590984000,559995,30
1593576000,565029,31
1596254400,570148,32
1598932800,575113,33
1601524800,580261,34
1604203200,585012,35
1606798800,589687,36
1609477200,594513,37
1612155600,599747,38
1614574800,604731,39
1617249600,612240,40
1619841600,618679,41
1622520000,624613,42
1625112000,636195,43
