1519880400,530171,
1522555200,533463,
1525147200,536950,
1527825600,540646,
1530417600,544674,
1533096000,548839,
1535774400,552878,1
1538366400,556956,2
1541044800,560980,3
1543640400,565644,4
1546318800,569293,5
1548997200,573799,6
1551416400,578296,7
1554091200,583590,8
1556683200,588480,9
1559361600,593424,10
1561953600,598092,11
1564632000,602965,12
1567310400,607711,13
1569902400,612594,14
1572580800,617383,15
1575176400,622199,16
1577854800,626970,17
1580533200,631889,18
1583038800,636368,19
1585713600,641750,20
1588305600,647130,21
1590984000,652744,22
1593576000,657849,23
1596254400,663134,24
1598932800,668288,25
1601524800,673565,26
1604203200,679299,27
1606798800,685772,28
