1572580800,904465,
1575176400,908467,
1577854800,912448,
1580533200,916716,
1583038800,920715,
1585713600,925528,
1588305600,930344,1
1590984000,935461,2
1593576000,940178,3
1596254400,945110,4
1598932800,949978,5
1601524800,954934,6
1604203200,960387,7
1606798800,966587,8
