1543640400,695642,
1546318800,698642,
1548997200,702551,
1551416400,706455,
1554091200,711223,
1556683200,715722,
1559361600,720299,1
1561953600,724650,2
1564632000,729200,3
1567310400,733660,4
1569902400,738299,5
1572580800,742831,6
1575176400,747451,7
1577854800,752048,8
1580533200,756784,9
1583038800,761103,10
1585713600,766327,11
1588305600,771537,12
1590984000,776989,13
1593576000,781951,14
1596254400,787129,15
1598932800,792180,16
1601524800,797355,17
1604203200,802993,18
1606798800,809358,19
