1504238400,432992,
1506830400,435512,
1509508800,438701,
1512104400,441949,
1514782800,445296,
1517461200,449215,
1519880400,452733,1
1522555200,456782,2
1525147200,460660,3
1527825600,464687,4
1530417600,468963,5
1533096000,473390,6
1535774400,477625,7
1538366400,481960,8
1541044800,486117,9
1543640400,490876,10
1546318800,494682,11
1548997200,499326,12
1551416400,503898,13
1554091200,509294,14
1556683200,514092,15
1559361600,519108,16
1561953600,523802,17
1564632000,528758,18
1567310400,533600,19
1569902400,538490,20
1572580800,543308,21
1575176400,548104,22
1577854800,552912,23
1580533200,557802,24
1583038800,562225,25
1585713600,567522,26
1588305600,572770,27
1590984000,578187,28
1593576000,583206,29
1596254400,588316,30
1598932800,593274,31
1601524800,598406,32
1604203200,603148,33
1606798800,607815,34
1609477200,612632,35
1612155600,617857,36
1614574800,622831,37
1617249600,630323,38
1619841600,636759,39
1622520000,642679,40
1625112000,654247,41
1627790400,659675,42
