1538366400,644622,
1541044800,51905,
1543640400,39011,
1546318800,39915,
1548997200,40824,
1551416400,41710,
1554091200,116739,0
1556683200,44054,0
1559361600,38106,0
1561953600,38055,0
1564632000,38896,0
1567310400,39608,0
1569902400,40354,0
1572580800,41094,1
1575176400,41909,2
1577854800,42668,3
1580533200,43450,4
1583038800,44192,5
1585713600,45010,6
1588305600,45835,7
1590984000,46743,8
1593576000,47442,9
1596254400,48264,10
1598932800,48990,11
1601524800,49695,12
1604203200,50413,13
1606798800,51095,14
