1546318800,702028,
1548997200,705876,
1551416400,709750,
1554091200,714489,
1556683200,718977,
1559361600,723532,
1561953600,727878,1
1564632000,732418,2
1567310400,736863,3
1569902400,741494,4
1572580800,746017,5
1575176400,750627,6
1577854800,755223,7
1580533200,759947,8
1583038800,764262,9
1585713600,769478,10
1588305600,774684,11
1590984000,780132,12
1593576000,785093,13
1596254400,790269,14
1598932800,795319,15
1601524800,800494,16
1604203200,806130,17
1606798800,812495,18
