1519880400,517035,
1522555200,520590,
1525147200,524135,
1527825600,527854,
1530417600,531891,
1533096000,536066,
1535774400,540116,1
1538366400,544219,2
1541044800,548203,3
1543640400,552856,4
1546318800,556527,5
1548997200,561026,6
1551416400,565491,7
1554091200,570771,8
1556683200,575463,9
1559361600,580359,10
1561953600,584975,11
1564632000,589802,12
1567310400,594550,13
1569902400,599365,14
1572580800,604125,15
1575176400,608876,16
1577854800,613631,17
1580533200,618467,18
1583038800,622840,19
1585713600,628087,20
1588305600,633289,21
1590984000,638658,22
1593576000,643632,23
1596254400,648682,24
1598932800,653595,25
1601524800,658678,26
1604203200,663388,27
1606798800,668010,28
1609477200,672784,29
1612155600,677977,30
1614574800,682914,31
1617249600,690380,32
1619841600,696785,33
1622520000,702681,34
1625112000,714203,35
1627790400,719602,36
