1569902400,893076,
1572580800,896645,
1575176400,900637,
1577854800,904634,
1580533200,908849,
1583038800,912740,
1585713600,917433,1
1588305600,922095,2
1590984000,926996,3
1593576000,931577,4
1596254400,936279,5
1598932800,940919,6
1601524800,945691,7
1604203200,950120,8
1606798800,954473,9
1609477200,959005,10
1612155600,963966,11
1614574800,968712,12
1617249600,975956,13
1619841600,982171,14
1622520000,987902,15
1625112000,998930,16
