1496289600,391673,
1498881600,112839,
1501560000,116552,
1504238400,120145,
1506830400,123424,
1509508800,127235,
1512104400,130960,1
1514782800,134719,2
1517461200,139033,3
1519880400,142790,4
1522555200,146957,5
1525147200,150883,6
1527825600,154967,7
1530417600,159302,8
1533096000,163509,9
1535774400,168518,10
1538366400,172655,11
1541044800,176893,12
1543640400,181555,13
1546318800,185385,14
1548997200,189839,15
1551416400,194270,16
1554091200,199355,17
1556683200,204004,18
1559361600,208872,19
1561953600,213164,20
1564632000,217878,21
1567310400,222510,22
1569902400,227278,23
1572580800,231686,24
1575176400,236165,25
1577854800,240666,26
1580533200,245265,27
1583038800,249360,28
1585713600,254204,29
1588305600,259074,30
1590984000,264136,31
1593576000,268683,32
1596254400,273264,33
1598932800,277642,34
1601524800,281997,35
1604203200,286386,36
1606798800,290625,37
1609477200,295093,38
1612155600,299981,39
1614574800,304562,40
1617249600,311496,41
1619841600,317489,42
1622520000,323019,43
1625112000,332840,44
