1522555200,547540,
1525147200,550755,
1527825600,554309,
1530417600,558227,
1533096000,562295,
1535774400,566271,
1538366400,570277,1
1541044800,574266,2
1543640400,578886,3
1546318800,582506,4
1548997200,586970,5
1551416400,591427,6
1554091200,596692,7
1556683200,601560,8
1559361600,606481,9
1561953600,611142,10
1564632000,615984,11
1567310400,620710,12
1569902400,625572,13
1572580800,630340,14
1575176400,635125,15
1577854800,639880,16
1580533200,644785,17
1583038800,649254,18
1585713600,654617,19
1588305600,659995,20
1590984000,665612,21
1593576000,670699,22
1596254400,675973,23
1598932800,681108,24
1601524800,686377,25
1604203200,692107,26
1606798800,698570,27
