1527825600,577870,
1530417600,581492,
1533096000,585340,
1535774400,589150,
1538366400,593045,
1541044800,597007,
1543640400,601518,1
1546318800,605068,2
1548997200,609466,3
1551416400,613868,4
1554091200,619090,5
1556683200,623895,6
1559361600,196439,0
1561953600,200538,0
1564632000,204856,0
1567310400,213996,0
1569902400,218424,0
1572580800,222663,1
1575176400,226843,2
1577854800,232444,3
1580533200,236884,4
1583038800,240960,5
1585713600,245679,6
1588305600,250569,7
1590984000,255604,8
1593576000,259974,9
1596254400,264622,10
1598932800,269045,11
1601524800,273354,12
1604203200,278513,13
1606798800,284294,14
