1541044800,664398,
1543640400,668426,
1546318800,671876,
1548997200,676004,
1551416400,125902,
1554091200,128994,
1556683200,121555,0
1559361600,124433,0
1561953600,126874,0
1564632000,129452,0
1567310400,131999,0
1569902400,134570,1
1572580800,137150,2
1575176400,132915,0
1577854800,116566,0
1580533200,118631,0
1583038800,119948,0
1585713600,122189,0
1588305600,111759,0
1590984000,113932,0
1593576000,112776,0
1596254400,114612,0
1598932800,116470,0
1601524800,117884,0
1604203200,118594,0
1606798800,121853,1
