1538366400,49714,
1541044800,50861,
1543640400,52080,
1546318800,53189,
1548997200,31749,
1551416400,32518,
1554091200,33273,0
1556683200,34051,0
1559361600,34837,0
1561953600,35466,1
1564632000,36228,2
1567310400,36910,3
1569902400,37631,4
1572580800,38347,5
1575176400,39052,6
1577854800,39796,7
1580533200,49198,0
1583038800,50001,0
1585713600,50965,0
1588305600,48605,0
1590984000,49565,0
1593576000,62980,0
1596254400,63967,0
1598932800,64972,0
1601524800,65981,0
1604203200,67452,0
1606798800,69393,1
