1464753600,240195,
1467345600,242186,
1470024000,244708,
1472702400,247276,
1475294400,249849,
1477972800,252655,
1480568400,255234,1
1483246800,258033,2
1485925200,260791,3
1488344400,263932,4
1491019200,267379,5
1493611200,270762,6
1496289600,274184,7
1498881600,278047,8
1501560000,281849,9
1504238400,285518,10
1506830400,288862,11
1509508800,292879,12
1512104400,296719,13
1514782800,300605,14
1517461200,305150,15
1519880400,309048,16
1522555200,313528,17
1525147200,317832,18
1527825600,322239,19
1530417600,326815,20
1533096000,331657,21
1535774400,336217,22
1538366400,340789,23
1541044800,345200,24
1543640400,350270,25
1546318800,354328,26
1548997200,359189,27
1551416400,364012,28
1554091200,369581,29
1556683200,374556,30
1559361600,379736,31
1561953600,384524,32
1564632000,389619,33
1567310400,394599,34
1569902400,399601,35
1572580800,404535,36
1575176400,409448,37
1577854800,414363,38
1580533200,419354,39
1583038800,423859,40
1585713600,429251,41
1588305600,434603,42
1590984000,440095,43
1593576000,445211,44
1596254400,450407,45
1598932800,455438,46
1601524800,460649,47
1604203200,465459,48
1606798800,470187,49
1609477200,475070,50
1612155600,480338,51
1614574800,485353,52
1617249600,492895,53
1619841600,499387,54
1622520000,505350,55
1625112000,517027,56
