1496289600,382694,
1498881600,385803,
1501560000,388950,
1504238400,392170,
1506830400,395126,
1509508800,398690,
1512104400,402196,1
1514782800,405732,2
1517461200,409858,3
1519880400,413517,4
1522555200,417732,5
1525147200,421766,6
1527825600,425922,7
1530417600,430309,8
1533096000,434848,9
1535774400,439177,10
1538366400,443594,11
1541044800,447839,12
1543640400,452705,13
1546318800,456578,14
1548997200,461313,15
1551416400,465960,16
1554091200,471406,17
1556683200,476267,18
1559361600,481334,19
1561953600,486062,20
1564632000,491061,21
1567310400,495934,22
1569902400,500868,23
1572580800,505722,24
1575176400,510558,25
1577854800,515409,26
1580533200,520332,27
1583038800,524786,28
1585713600,530115,29
1588305600,535392,30
1590984000,540830,31
1593576000,545882,32
1596254400,551020,33
1598932800,555997,34
1601524800,561152,35
1604203200,565917,36
1606798800,570600,37
1609477200,575433,38
1612155600,580672,39
1614574800,585656,40
1617249600,593169,41
1619841600,599614,42
1622520000,605554,43
1625112000,617154,44
1627790400,622591,45
