1472702400,276544,
1475294400,278690,
1477972800,69097,
1480568400,56498,
1483246800,58047,
1485925200,59679,
1488344400,61507,
1491019200,63602,
1493611200,80300,
1496289600,82807,
1498881600,85351,
1501560000,87964,
1504238400,90399,
1506830400,92600,1
1509508800,95158,2
1512104400,97747,3
1514782800,100261,4
1517461200,103323,5
1519880400,105907,6
1522555200,108683,7
1525147200,60978,
1527825600,58183,
1530417600,57888,
1533096000,51237,
1535774400,34658,
1538366400,33833,
1541044800,33342,
1543640400,32103,
1546318800,30849,
1548997200,29854,
1551416400,28985,
1554091200,54582,
1556683200,47723,
1559361600,48338,
1561953600,48795,
1564632000,31902,
1567310400,31285,
1569902400,31777,
1572580800,31106,
1575176400,31214,
1577854800,30339,
1580533200,29603,
1583038800,29722,
1585713600,28377,
1588305600,27824,
1590984000,27304,
1593576000,27203,
1596254400,26708,
1598932800,26741,
1601524800,26337,
1604203200,26327,
1606798800,25804,
1609477200,25230,
1612155600,25315,
1614574800,25410,
1617249600,26938,
1619841600,27606,
1622520000,24195,
1625112000,24775,
1627790400,24972,
