1548997200,111961,
1551416400,114329,
1554091200,117080,
1556683200,119619,
1559361600,122407,
1561953600,124724,
1564632000,127185,1
1567310400,129651,2
1569902400,132229,3
1572580800,134720,4
1575176400,137175,5
1577854800,139679,6
1580533200,142193,7
1583038800,144441,8
1585713600,147026,9
1588305600,149770,10
1590984000,152525,11
1593576000,154973,12
1596254400,157518,13
1598932800,160077,14
1601524800,162612,15
1604203200,165860,16
1606798800,169827,17
