1483246800,319856,
1485925200,322046,
1488344400,324761,
1491019200,327822,
1493611200,330887,
1496289600,334035,
1498881600,337639,1
1501560000,341187,2
1504238400,344683,3
1506830400,347844,4
1509508800,351663,5
1512104400,355361,6
1514782800,359074,7
1517461200,363427,8
1519880400,367209,9
1522555200,371570,10
1525147200,375723,11
1527825600,380011,12
1530417600,384506,13
1533096000,389184,14
1535774400,393640,15
1538366400,398119,16
1541044800,402454,17
1543640400,407417,18
1546318800,411402,19
1548997200,416203,20
1551416400,420920,21
1554091200,426430,22
1556683200,431356,23
1559361600,436476,24
1561953600,441227,25
1564632000,446278,26
1567310400,451202,27
1569902400,456173,28
1572580800,461064,29
1575176400,465942,30
1577854800,470827,31
1580533200,475780,32
1583038800,480261,33
1585713600,485628,34
1588305600,490936,35
1590984000,496404,36
1593576000,501486,37
1596254400,506656,38
1598932800,511653,39
1601524800,516835,40
1604203200,521626,41
1606798800,526326,42
1609477200,531180,43
1612155600,536425,44
1614574800,541430,45
1617249600,548958,46
1619841600,555423,47
1622520000,561367,48
1625112000,573001,49
