1477972800,294088,
1480568400,296220,
1483246800,298666,
1485925200,301188,
1488344400,304140,
1491019200,307380,
1493611200,310596,1
1496289600,313836,2
1498881600,317556,3
1501560000,321188,4
1504238400,324768,5
1506830400,327987,6
1509508800,331897,7
1512104400,335663,8
1514782800,339444,9
1517461200,343893,10
1519880400,347729,11
1522555200,352142,12
1525147200,356357,13
1527825600,360677,14
1530417600,365197,15
1533096000,369922,16
1535774400,374413,17
1538366400,378929,18
1541044800,383284,19
1543640400,388285,20
1546318800,392306,21
1548997200,397127,22
1551416400,401876,23
1554091200,407409,24
1556683200,412353,25
1559361600,417507,26
1561953600,422269,27
1564632000,427342,28
1567310400,432286,29
1569902400,437270,30
1572580800,442172,31
1575176400,447062,32
1577854800,451955,33
1580533200,456928,34
1583038800,461420,35
1585713600,466798,36
1588305600,472122,37
1590984000,477598,38
1593576000,482686,39
1596254400,487864,40
1598932800,492871,41
1601524800,498067,42
1604203200,502865,43
1606798800,507576,44
1609477200,512435,45
1612155600,517686,46
1614574800,522699,47
1617249600,530233,48
1619841600,536711,49
1622520000,542666,50
1625112000,554320,51
