1543640400,693274,
1546318800,163724,
1548997200,167627,
1551416400,182862,
1554091200,108566,
1556683200,110935,
1559361600,113574,0
1561953600,115815,0
1564632000,118161,0
1567310400,120478,1
1569902400,122951,2
1572580800,125394,3
1575176400,127734,4
1577854800,130156,5
1580533200,132532,6
1583038800,134651,7
1585713600,137111,8
1588305600,139700,9
1590984000,142366,10
1593576000,144660,11
1596254400,147173,12
1598932800,149587,13
1601524800,152022,14
1604203200,155075,15
1606798800,158953,16
