1451624400,48084,
1454302800,50147,
1456808400,52235,
1459483200,54686,
1462075200,56974,
1464753600,59300,
1467345600,61400,1
1470024000,63668,2
1472702400,65964,3
1475294400,68136,4
1477972800,70446,5
1480568400,72598,6
1483246800,74737,7
1485925200,76915,8
1488344400,79506,9
1491019200,82266,10
1493611200,84818,11
1496289600,87453,12
1498881600,90175,13
1501560000,92948,14
1504238400,95568,15
1506830400,97966,16
1509508800,100721,17
1512104400,103499,18
1514782800,106212,19
1517461200,109442,20
1519880400,112214,21
1522555200,115223,22
1525147200,118218,23
1527825600,121264,24
1530417600,124415,25
1533096000,127530,26
1535774400,134371,27
1538366400,137531,28
1541044800,140759,29
1543640400,144307,30
1546318800,147220,31
1548997200,150690,32
1551416400,154027,33
1554091200,157838,34
1556683200,161383,35
1559361600,165118,36
1561953600,168548,37
1564632000,171948,38
1567310400,175426,39
1569902400,179079,40
1572580800,182502,41
1575176400,185709,42
1577854800,144141,
1580533200,128790,
1583038800,131004,
1585713600,133366,
1588305600,135784,
1590984000,138393,
1593576000,140706,1
1596254400,143793,2
1598932800,146106,3
1601524800,148723,4
1604203200,151312,5
1606798800,153460,6
1609477200,156692,7
1612155600,159163,8
1614574800,161488,9
1617249600,166022,10
1619841600,169487,11
1622520000,172505,12
1625112000,178312,13
1627790400,181106,14
