1493611200,369603,
1496289600,106270,
1498881600,85897,
1501560000,86070,
1504238400,88029,
1506830400,90079,
1509508800,92330,
1512104400,112068,
1514782800,115096,
1517461200,118611,
1519880400,121637,
1522555200,124939,
1525147200,128193,1
1527825600,131491,2
1530417600,135048,3
1533096000,138482,4
1535774400,144741,5
1538366400,148193,6
1541044800,151727,7
1543640400,155534,8
1546318800,158747,9
1548997200,190828,
1551416400,195360,
1554091200,200531,
1556683200,205203,
1559361600,210084,
1561953600,214437,1
1564632000,219136,2
1567310400,223877,3
1569902400,228637,4
1572580800,233118,5
1575176400,237615,6
1577854800,242176,7
1580533200,246789,8
1583038800,250928,9
1585713600,255831,10
1588305600,260695,11
1590984000,265826,12
1593576000,270380,13
1596254400,275046,14
1598932800,279489,15
1601524800,283911,16
1604203200,288276,17
1606798800,292573,18
1609477200,297044,19
1612155600,302011,20
1614574800,306617,21
1617249600,313610,22
1619841600,319629,23
1622520000,325267,24
1625112000,335243,25
