1514782800,490798,
1517461200,494215,
1519880400,497456,
1522555200,501224,
1525147200,504889,
1527825600,508730,
1530417600,512854,1
1533096000,517117,2
1535774400,521227,3
1538366400,525407,4
1541044800,529470,5
1543640400,534146,6
1546318800,537846,7
1548997200,542405,8
1551416400,546903,9
1554091200,552225,10
1556683200,556948,11
1559361600,561868,12
1561953600,566516,13
1564632000,571383,14
1567310400,576165,15
1569902400,581000,16
1572580800,585790,17
1575176400,590565,18
1577854800,595334,19
1580533200,600192,20
1583038800,604585,21
1585713600,609844,22
1588305600,615054,23
1590984000,620438,24
1593576000,625419,25
1596254400,630486,26
1598932800,635420,27
1601524800,640520,28
1604203200,645240,29
1606798800,649873,30
1609477200,654659,31
1612155600,659865,32
1614574800,664809,33
1617249600,672282,34
1619841600,678699,35
1622520000,684597,36
1625112000,696130,37
