1496289600,56071,
1498881600,57695,
1501560000,59381,
1504238400,60980,
1506830400,62448,
1509508800,64234,
1512104400,65911,1
1514782800,67574,2
1517461200,69489,3
1519880400,71226,4
1522555200,73098,5
1525147200,75094,6
1527825600,76988,7
1530417600,78816,8
1533096000,80708,9
1535774400,88897,
1538366400,90892,
1541044800,92840,
1543640400,95290,
1546318800,97218,
1548997200,99418,1
1551416400,101525,2
1554091200,103982,3
1556683200,106172,4
1559361600,108619,5
1561953600,110688,6
1564632000,112839,7
1567310400,115017,8
1569902400,117395,9
1572580800,119626,10
1575176400,121788,11
1577854800,123998,12
1580533200,126267,13
1583038800,128150,14
1585713600,130378,15
1588305600,132676,16
1590984000,135218,17
1593576000,137326,18
1596254400,139615,19
1598932800,141766,20
1601524800,143928,21
1604203200,145960,22
1606798800,147938,23
1609477200,150104,24
1612155600,152412,25
1614574800,154620,26
1617249600,158904,27
1619841600,162219,28
1622520000,165105,29
1625112000,170089,30
1627790400,172739,31
