1514782800,486514,
1517461200,490022,
1519880400,493292,
1522555200,497085,
1525147200,500783,
1527825600,504649,
1530417600,508788,1
1533096000,513070,2
1535774400,517201,3
1538366400,521396,4
1541044800,525470,5
1543640400,530145,6
1546318800,533864,7
1548997200,538431,8
1551416400,542934,9
1554091200,548275,10
1556683200,553003,11
1559361600,557933,12
1561953600,562585,13
1564632000,567454,14
1567310400,572241,15
1569902400,577082,16
1572580800,581878,17
1575176400,586654,18
1577854800,591427,19
1580533200,596287,20
1583038800,600683,21
1585713600,605947,22
1588305600,611160,23
1590984000,616546,24
1593576000,621529,25
1596254400,626600,26
1598932800,631537,27
1601524800,636646,28
1604203200,641367,29
1606798800,646000,30
1609477200,650790,31
1612155600,656000,32
1614574800,660951,33
1617249600,668427,34
1619841600,674846,35
1622520000,680748,36
1625112000,692286,37
1627790400,697690,38
