1496289600,382315,
1498881600,385433,
1501560000,388586,
1504238400,391808,
1506830400,394768,
1509508800,398333,
1512104400,401843,1
1514782800,405385,2
1517461200,409525,3
1519880400,413184,4
1522555200,417403,5
1525147200,421437,6
1527825600,425593,7
1530417600,429980,8
1533096000,434519,9
1535774400,438848,10
1538366400,443265,11
1541044800,447511,12
1543640400,452377,13
1546318800,456250,14
1548997200,460986,15
1551416400,465635,16
1554091200,471082,17
1556683200,475943,18
1559361600,481011,19
1561953600,485739,20
1564632000,490740,21
1567310400,495613,22
1569902400,500547,23
1572580800,505401,24
1575176400,510237,25
1577854800,515088,26
1580533200,520011,27
1583038800,524467,28
1585713600,529796,29
1588305600,535072,30
1590984000,540509,31
1593576000,545561,32
1596254400,550699,33
1598932800,555676,34
1601524800,560832,35
1604203200,565597,36
1606798800,570280,37
1609477200,575113,38
1612155600,580353,39
1614574800,585336,40
1617249600,592849,41
1619841600,599294,42
1622520000,605234,43
1625112000,616834,44
