1543640400,695817,
1546318800,698802,
1548997200,702710,
1551416400,706611,
1554091200,711377,
1556683200,715877,
1559361600,720450,1
1561953600,724801,2
1564632000,729349,3
1567310400,733808,4
1569902400,738447,5
1572580800,742979,6
1575176400,747599,7
1577854800,752196,8
1580533200,756931,9
1583038800,761250,10
1585713600,766474,11
1588305600,771684,12
1590984000,777136,13
1593576000,782098,14
1596254400,787276,15
1598932800,792327,16
1601524800,797502,17
1604203200,803140,18
1606798800,809505,19
