1462075200,225438,
1464753600,38226,
1467345600,39464,
1470024000,40809,
1472702400,42207,
1475294400,43434,
1477972800,44866,1
1480568400,46246,2
1483246800,41039,
1485925200,42151,
1488344400,43446,
1491019200,44946,
1493611200,46279,
1496289600,47642,1
1498881600,49076,2
1501560000,50493,3
1504238400,51902,4
1506830400,53179,5
1509508800,54675,6
1512104400,56081,7
1514782800,57530,8
1517461200,59141,9
1519880400,60594,10
1522555200,62258,11
1525147200,63935,12
1527825600,65578,13
1530417600,67128,14
1533096000,68666,15
1535774400,76986,
1538366400,78754,
1541044800,80546,
1543640400,82550,
1546318800,84232,
1548997200,86058,1
1551416400,87976,2
1554091200,90137,3
1556683200,92045,4
1559361600,94201,5
1561953600,95965,6
1564632000,97868,7
1567310400,99703,8
1569902400,101673,9
1572580800,103573,10
1575176400,105493,11
1577854800,107486,12
1580533200,109380,13
1583038800,111135,14
1585713600,113115,15
1588305600,115086,16
1590984000,117334,17
1593576000,119147,18
1596254400,121052,19
1598932800,122967,20
1601524800,124819,21
1604203200,126596,22
1606798800,128294,23
1609477200,130140,24
1612155600,132206,25
1614574800,134107,26
1617249600,137989,27
1619841600,140959,28
1622520000,143505,29
1625112000,147949,30
1627790400,150269,31
