1514782800,491404,
1517461200,78016,
1519880400,79963,
1522555200,82097,
1525147200,84216,
1527825600,86371,
1530417600,88538,1
1533096000,90624,2
1535774400,98646,
1538366400,100913,
1541044800,103126,1
1543640400,105771,
1546318800,107896,
1548997200,110395,1
1551416400,112686,2
1554091200,115426,3
1556683200,117910,4
1559361600,120650,5
1561953600,122940,6
1564632000,125360,7
1567310400,127794,8
1569902400,130345,9
1572580800,132804,10
1575176400,135194,11
1577854800,137656,12
1580533200,140129,13
1583038800,142264,14
1585713600,144779,15
1588305600,147411,16
1590984000,150106,17
1593576000,152485,18
1596254400,154965,19
1598932800,157403,20
1601524800,159828,21
1604203200,162091,22
1606798800,164301,23
1609477200,166652,24
1612155600,169303,25
1614574800,171688,26
1617249600,176223,27
1619841600,179817,28
1622520000,182927,29
1625112000,188411,30
