1451624400,23468,
1454302800,23060,
1456808400,23853,
1459483200,24305,
1462075200,23537,
1464753600,24544,
1467345600,25343,
1470024000,26274,
1472702400,26456,
1475294400,27421,1
1477972800,28305,2
1480568400,29209,3
1483246800,30000,4
1485925200,30854,5
1488344400,31907,6
1491019200,32990,7
1493611200,33983,8
1496289600,35023,9
1498881600,35799,10
1501560000,36816,11
1504238400,37867,12
1506830400,38816,13
1509508800,39982,14
1512104400,35199,
1514782800,36115,
1517461200,37132,
1519880400,38002,
1522555200,39690,
1525147200,41584,1
1527825600,43115,2
1530417600,44092,3
1533096000,45046,4
1535774400,37938,
1538366400,38658,
1541044800,39075,
1543640400,39643,
1546318800,40446,
1548997200,38765,
1551416400,38575,
1554091200,39448,
1556683200,39473,
1559361600,40101,
1561953600,40084,
1564632000,40605,
1567310400,40786,
1569902400,41060,1
1572580800,41930,
1575176400,42511,1
1577854800,43201,2
1580533200,43932,3
1583038800,43662,
1585713600,44244,
1588305600,46094,
1590984000,47319,
1593576000,48017,
1596254400,48098,
1598932800,48788,
1601524800,49290,
1604203200,50008,1
1606798800,50683,2
1609477200,50986,3
1612155600,51341,4
1614574800,51618,5
1617249600,54013,
1619841600,55221,
1622520000,55943,
1625112000,57745,1
1627790400,58516,2
