1541044800,666445,
1543640400,670454,
1546318800,673896,
1548997200,678016,
1551416400,682109,
1554091200,687024,
1556683200,691624,1
1559361600,696323,2
1561953600,700759,3
1564632000,705385,4
1567310400,709931,5
1569902400,714615,6
1572580800,719203,7
1575176400,723866,8
1577854800,728497,9
1580533200,733270,10
1583038800,737630,11
1585713600,742881,12
1588305600,748121,13
1590984000,753613,14
1593576000,758616,15
1596254400,763804,16
1598932800,768878,17
1601524800,774082,18
1604203200,779743,19
1606798800,786122,20
