1517461200,110532,
1519880400,113292,
1522555200,116294,
1525147200,119289,
1527825600,122335,
1530417600,125478,
1533096000,128577,1
1535774400,135420,2
1538366400,138589,3
1541044800,141806,4
1543640400,145346,5
1546318800,148268,6
1548997200,128485,
1551416400,131330,
1554091200,134595,
1556683200,137554,
1559361600,140751,
1561953600,143606,1
1564632000,146621,2
1567310400,149524,3
1569902400,152633,4
1572580800,155558,5
1575176400,158320,6
1577854800,161259,7
1580533200,147940,
1583038800,150244,
1585713600,153090,
1588305600,155963,
1590984000,158839,
1593576000,159895,1
1596254400,162487,2
1598932800,165076,3
1601524800,155781,
1604203200,158018,
1606798800,160444,
1609477200,162827,
1612155600,165419,
1614574800,150460,
1617249600,134310,
1619841600,151332,
1622520000,154028,
1625112000,158735,
