1496289600,386567,
1498881600,389602,
1501560000,392698,
1504238400,395882,
1506830400,398818,
1509508800,402348,
1512104400,405837,1
1514782800,409362,2
1517461200,413467,3
1519880400,417117,4
1522555200,421319,5
1525147200,425344,6
1527825600,429492,7
1530417600,433868,8
1533096000,438404,9
1535774400,442725,10
1538366400,447136,11
1541044800,451375,12
1543640400,456234,13
1546318800,460103,14
1548997200,464834,15
1551416400,469475,16
1554091200,474916,17
1556683200,479774,18
1559361600,484841,19
1561953600,489565,20
1564632000,494563,21
1567310400,499430,22
1569902400,504358,23
1572580800,509208,24
1575176400,514037,25
1577854800,518883,26
1580533200,523803,27
1583038800,528253,28
1585713600,533576,29
1588305600,538851,30
1590984000,544287,31
1593576000,549334,32
1596254400,554470,33
1598932800,559445,34
1601524800,564600,35
1604203200,569364,36
1606798800,574047,37
1609477200,578879,38
1612155600,584116,39
1614574800,589100,40
1617249600,596612,41
1619841600,603055,42
1622520000,608995,43
1625112000,620592,44
1627790400,626027,45
