1572580800,905171,
1575176400,909038,
1577854800,912971,
1580533200,917139,
1583038800,920996,
1585713600,925640,
1588305600,930267,1
1590984000,935139,2
1593576000,939695,3
1596254400,944387,4
1598932800,949007,5
1601524800,953765,6
1604203200,958176,7
1606798800,962523,8
1609477200,967037,9
1612155600,971987,10
1614574800,976726,11
1617249600,983960,12
1619841600,990166,13
1622520000,995891,14
1625112000,1006890,15
