1462075200,224977,
1464753600,227386,
1467345600,229562,
1470024000,232226,
1472702400,234919,
1475294400,237629,
1477972800,240533,1
1480568400,72004,
1483246800,75913,
1485925200,77582,
1488344400,80224,
1491019200,52812,
1493611200,30176,
1496289600,31064,
1498881600,31510,
1501560000,30539,
1504238400,34861,
1506830400,35013,
1509508800,25296,
1512104400,26832,
1514782800,25952,
1517461200,22669,
1519880400,15718,
1522555200,15506,
1525147200,15549,
1527825600,15841,
1530417600,15224,
1533096000,15518,
1535774400,19299,
1538366400,19271,
1541044800,18848,
1543640400,16230,
1546318800,16046,
1548997200,16180,
1551416400,16494,
1554091200,16701,
1556683200,15591,
1559361600,15871,
1561953600,16355,
1564632000,16713,
1567310400,16761,
1569902400,15241,
1572580800,14293,
1575176400,14957,
1577854800,15251,
1580533200,15321,
1583038800,15545,
1585713600,15625,
1588305600,15891,1
1590984000,15970,2
1593576000,16150,3
1596254400,16393,4
1598932800,16567,5
1601524800,16766,6
1604203200,16956,7
1606798800,17069,8
1609477200,17216,9
1612155600,16797,
1614574800,16951,
1617249600,17185,
1619841600,17402,
1622520000,17617,
1625112000,18337,
1627790400,18451,
