1517461200,508452,
1519880400,511532,
1522555200,515175,
1525147200,518753,
1527825600,522518,
1530417600,526591,
1533096000,530791,1
1535774400,534857,2
1538366400,538978,3
1541044800,542985,4
1543640400,547653,5
1546318800,551337,6
1548997200,555841,7
1551416400,560313,8
1554091200,565606,9
1556683200,570312,10
1559361600,575212,11
1561953600,579838,12
1564632000,584672,13
1567310400,589434,14
1569902400,594262,15
1572580800,599026,16
1575176400,603785,17
1577854800,608544,18
1580533200,613384,19
1583038800,617760,20
1585713600,623013,21
1588305600,628215,22
1590984000,633592,23
1593576000,638571,24
1596254400,643626,25
1598932800,648544,26
1601524800,653631,27
1604203200,658345,28
1606798800,662968,29
1609477200,667746,30
1612155600,672944,31
1614574800,677881,32
1617249600,685350,33
1619841600,691757,34
1622520000,697654,35
1625112000,709182,36
1627790400,714582,37
