1575176400,919139,
1577854800,922959,
1580533200,927084,
1583038800,930876,
1585713600,935479,
1588305600,940049,
1590984000,944894,1
1593576000,949434,2
1596254400,954097,3
1598932800,958694,4
1601524800,963433,5
1604203200,967822,6
1606798800,972144,7
1609477200,976647,8
1612155600,981581,9
1614574800,986312,10
1617249600,993534,11
1619841600,999736,12
1622520000,1005451,13
1625112000,1016433,14
