1459483200,215000,
1462075200,217394,
1464753600,219893,
1467345600,222149,
1470024000,224851,
1472702400,227603,
1475294400,230349,1
1477972800,233289,2
1480568400,235991,3
1483246800,238886,4
1485925200,241715,5
1488344400,244928,6
1491019200,248449,7
1493611200,251887,8
1496289600,255393,9
1498881600,259316,10
1501560000,263184,11
1504238400,266884,12
1506830400,270280,13
1509508800,274339,14
1512104400,278234,15
1514782800,282158,16
1517461200,286750,17
1519880400,290673,18
1522555200,295187,19
1525147200,299519,20
1527825600,303958,21
1530417600,308559,22
1533096000,313451,23
1535774400,318035,24
1538366400,322623,25
1541044800,327060,26
1543640400,332152,27
1546318800,336218,28
1548997200,341096,29
1551416400,345937,30
1554091200,351518,31
1556683200,356502,32
1559361600,361701,33
1561953600,366501,34
1564632000,371612,35
1567310400,376604,36
1569902400,381615,37
1572580800,386557,38
1575176400,391476,39
1577854800,396405,40
1580533200,401404,41
1583038800,405923,42
1585713600,411322,43
1588305600,416682,44
1590984000,422191,45
1593576000,427316,46
1596254400,432524,47
1598932800,437570,48
1601524800,442792,49
1604203200,447607,50
1606798800,452339,51
1609477200,457231,52
1612155600,462508,53
1614574800,467529,54
1617249600,475078,55
1619841600,481580,56
1622520000,487546,57
1625112000,499230,58
