1546318800,47781,
1548997200,48764,
1551416400,49770,
1554091200,50941,
1556683200,51954,
1559361600,53016,
1561953600,53974,1
1564632000,55005,2
1567310400,55974,3
1569902400,56997,4
1572580800,57942,5
1575176400,58955,6
1577854800,59951,7
1580533200,60813,8
1583038800,61776,9
1585713600,62749,10
1588305600,63825,11
1590984000,65045,12
1593576000,65931,13
1596254400,66860,14
1598932800,67852,15
1601524800,68895,16
1604203200,69817,17
1606798800,70695,18
1609477200,71639,19
1612155600,72695,20
1614574800,73716,21
1617249600,76432,
1619841600,78216,1
1622520000,79560,2
1625112000,82266,3
