1522555200,537251,
1525147200,540638,
1527825600,544222,
1530417600,548173,
1533096000,552243,
1535774400,556224,
1538366400,560233,1
1541044800,564165,2
1543640400,568769,3
1546318800,572395,4
1548997200,576850,5
1551416400,581266,6
1554091200,586511,7
1556683200,591170,8
1559361600,596038,9
1561953600,600623,10
1564632000,605421,11
1567310400,610148,12
1569902400,614942,13
1572580800,619682,14
1575176400,624424,15
1577854800,629158,16
1580533200,633982,17
1583038800,638333,18
1585713600,643573,19
1588305600,648764,20
1590984000,654134,21
1593576000,659087,22
1596254400,664133,23
1598932800,669037,24
1601524800,674109,25
1604203200,678814,26
1606798800,683428,27
1609477200,688187,28
1612155600,693375,29
1614574800,698301,30
1617249600,705758,31
1619841600,712161,32
1622520000,718050,33
1625112000,729549,34
