1538366400,44902,
1541044800,45730,
1543640400,46791,
1546318800,47779,
1548997200,48774,
1551416400,49800,
1554091200,50993,1
1556683200,52091,2
1559361600,53219,3
1561953600,54167,4
1564632000,55218,5
1567310400,56221,6
1569902400,51367,0
1572580800,52260,0
1575176400,53255,0
1577854800,54272,0
1580533200,55188,0
1583038800,56130,1
1585713600,57133,2
1588305600,58166,3
1590984000,59352,4
1593576000,60214,5
1596254400,61216,6
1598932800,62185,7
1601524800,63128,8
1604203200,64598,9
1606798800,66503,10
