1546318800,700427,
1548997200,704306,
1551416400,708193,
1554091200,712949,
1556683200,717444,
1559361600,722008,
1561953600,726356,1
1564632000,730900,2
1567310400,735355,3
1569902400,739990,4
1572580800,744516,5
1575176400,749130,6
1577854800,753729,7
1580533200,758457,8
1583038800,762772,9
1585713600,767991,10
1588305600,773197,11
1590984000,778647,12
1593576000,783611,13
1596254400,788790,14
1598932800,793841,15
1601524800,799014,16
1604203200,804651,17
1606798800,811015,18
