1451624400,106851,
1454302800,109689,
1456808400,112575,
1459483200,116056,
1462075200,119265,
1464753600,122427,
1467345600,125227,1
1470024000,128355,2
1472702400,131578,3
1475294400,134704,4
1477972800,137997,5
1480568400,141021,6
1483246800,144195,7
1485925200,147231,8
1488344400,150715,9
1491019200,154505,10
1493611200,158199,11
1496289600,161941,12
1498881600,166092,13
1501560000,170167,14
1504238400,174099,15
1506830400,177650,16
1509508800,181950,17
1512104400,186000,18
1514782800,190081,19
1517461200,194852,20
1519880400,198894,21
1522555200,203517,22
1525147200,207950,23
1527825600,212496,24
1530417600,217224,25
1533096000,222230,26
1535774400,226930,27
1538366400,231590,28
1541044800,236129,29
1543640400,241322,30
1546318800,245467,31
1548997200,250401,32
1551416400,255298,33
1554091200,260953,34
1556683200,265975,35
1559361600,271225,36
1561953600,276063,37
1564632000,281221,38
1567310400,286273,39
1569902400,291336,40
1572580800,296309,41
1575176400,301268,42
1577854800,306225,43
1580533200,311272,44
1583038800,315815,45
1585713600,321254,46
1588305600,326641,47
1590984000,332187,48
1593576000,337343,49
1596254400,342583,50
1598932800,347671,51
1601524800,352929,52
1604203200,357772,53
1606798800,362534,54
1609477200,367446,55
1612155600,372763,56
1614574800,377797,57
1617249600,385362,58
1619841600,391894,59
1622520000,397883,60
1625112000,409614,61
