1496289600,387845,
1498881600,116879,
1501560000,120708,
1504238400,124545,
1506830400,127929,
1509508800,132057,
1512104400,136033,1
1514782800,140018,2
1517461200,144558,3
1519880400,148507,4
1522555200,152933,5
1525147200,157119,6
1527825600,161420,7
1530417600,166014,8
1533096000,170469,9
1535774400,175474,10
1538366400,180033,11
1541044800,184347,12
1543640400,189255,13
1546318800,193214,14
1548997200,197949,15
1551416400,202592,16
1554091200,207985,17
1556683200,212898,18
1559361600,217964,19
1561953600,222603,20
1564632000,227490,21
1567310400,232340,22
1569902400,237253,23
1572580800,241941,24
1575176400,246656,25
1577854800,251393,26
1580533200,256249,27
1583038800,260642,28
1585713600,265751,29
1588305600,270957,30
1590984000,276382,31
1593576000,281172,32
1596254400,286141,33
1598932800,290851,34
1601524800,295538,35
1604203200,299960,36
1606798800,304450,37
1609477200,309192,38
1612155600,314372,39
1614574800,319257,40
1617249600,326433,41
1619841600,332764,42
1622520000,338537,43
1625112000,348884,44
1627790400,354168,45
