1541044800,667885,
1543640400,671864,
1546318800,675295,
1548997200,679406,
1551416400,683492,
1554091200,688402,
1556683200,692999,1
1559361600,697692,2
1561953600,702126,3
1564632000,706751,4
1567310400,711296,5
1569902400,715974,6
1572580800,720560,7
1575176400,725220,8
1577854800,729848,9
1580533200,734615,10
1583038800,738974,11
1585713600,744221,12
1588305600,749461,13
1590984000,754951,14
1593576000,759950,15
1596254400,765139,16
1598932800,770212,17
1601524800,775415,18
1604203200,781073,19
1606798800,787450,20
