1522555200,155139,
1525147200,159444,
1527825600,163835,
1530417600,546560,
1533096000,550705,
1535774400,554743,
1538366400,558821,0
1541044800,562837,0
1543640400,567491,1
1546318800,571137,2
1548997200,575637,3
1551416400,580126,4
1554091200,585419,5
1556683200,590301,6
1559361600,595243,7
1561953600,599908,8
1564632000,604778,9
1567310400,609522,10
1569902400,614401,11
1572580800,619187,12
1575176400,623995,13
1577854800,628763,14
1580533200,633681,15
1583038800,638156,16
1585713600,273142,0
1588305600,278674,0
1590984000,284381,0
1593576000,289340,0
1596254400,294643,0
1598932800,299671,1
1601524800,304693,2
1604203200,310309,3
1606798800,316650,4
